
.bg-lightish {
    background-color: rgba(208,204,203,0.4) !important;
  }

footer h5 { 
    color:#000 !important;
}  

footer a { color:#0d3c81; }
footer a:hover {
    color: #000 !important; 
}

a:hover { color:#0d3c81 !important; } 
            
.btn-primary, .btn-outline-primary:focus, .btn-outline-primary:hover { background:#0d3c81; color:#fff !important; }

            @media (min-width: 992px) {
          .navbar .container {
            display: grid;
            grid-template-columns: auto 300px 1fr;
            gap: 1rem;
            align-items: center;
          }
        }
          .navbar-toggler:focus {
          box-shadow: none;
        }
        
        @media (min-width: 992px) {
          .navbar-collapse {
            flex-grow: 0;
          }
        }